<h1>Listado de productos</h1>
<h2>¿Qué desea hacer?</h2>
<a href="/create-product">Crear producto</a>
<br>
<a href="/list-products">Listar productos</a>
<br>
<a href="/update-product">Editar producto</a>
<br>
<a href="/delete-product">Eliminar producto</a>